@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
* {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
:root {
  --background: 210.0000 40.0000% 98.0392%;
  --foreground: 220 27.2727% 15.0980%;
  --card: 0 0% 100%;
  --card-foreground: 220 27.2727% 15.0980%;
  --popover: 0 0% 100%;
  --popover-foreground: 220 27.2727% 15.0980%;
  --primary: 223.7037 52.9412% 30%;
  --primary-foreground: 0 0% 100%;
  --secondary: 216.9231 48.1481% 94.7059%;
  --secondary-foreground: 222.1277 27.4854% 33.5294%;
  --muted: 220.0000 30.0000% 96.0784%;
  --muted-foreground: 222.3529 20.9877% 52.3529%;
  --accent: 220.0000 44.6809% 90.7843%;
  --accent-foreground: 223.7037 52.9412% 30%;
  --destructive: 0 72.2222% 50.5882%;
  --destructive-foreground: 0 0% 100%;
  --border: 214.2857 31.8182% 91.3725%;
  --input: 216.9231 48.1481% 94.7059%;
  --ring: 223.7037 52.9412% 30%;
  --chart-1: 223.7037 52.9412% 30%;
  --chart-2: 224.1860 78.1818% 67.6471%;
  --chart-3: 258.3117 89.5349% 66.2745%;
  --chart-4: 45.9429 96.6851% 64.5098%;
  --chart-5: 0 90.6040% 70.7843%;
  --sidebar: 0 0% 100%;
  --sidebar-foreground: 220 27.2727% 15.0980%;
  --sidebar-primary: 223.7037 52.9412% 30%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 220.0000 44.6809% 90.7843%;
  --sidebar-accent-foreground: 223.7037 52.9412% 30%;
  --sidebar-border: 214.2857 31.8182% 91.3725%;
  --sidebar-ring: 223.7037 52.9412% 30%;
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0.125rem;
  --shadow-blur: 0.375rem;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: #000000;
  --shadow-2xs: 0px 0.125rem 0.375rem 0px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 0.125rem 0.375rem 0px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 0.125rem 0.375rem 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow: 0px 0.125rem 0.375rem 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 0.125rem 0.375rem 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 0.125rem 0.375rem 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 0.125rem 0.375rem 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 0.125rem 0.375rem 0px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: 223.8462 44.8276% 11.3725%;
  --foreground: 214.2857 31.8182% 91.3725%;
  --card: 220 27.2727% 15.0980%;
  --card-foreground: 214.2857 31.8182% 91.3725%;
  --popover: 220 27.2727% 15.0980%;
  --popover-foreground: 214.2857 31.8182% 91.3725%;
  --primary: 223.7037 52.9412% 30%;
  --primary-foreground: 0 0% 100%;
  --secondary: 217.7778 23.0769% 22.9412%;
  --secondary-foreground: 214.2857 31.8182% 91.3725%;
  --muted: 215.0000 27.9070% 16.8627%;
  --muted-foreground: 217.8947 10.6145% 64.9020%;
  --accent: 223.5484 54.3860% 22.3529%;
  --accent-foreground: 220.0000 44.6809% 90.7843%;
  --destructive: 0 84.2365% 60.1961%;
  --destructive-foreground: 0 0% 100%;
  --border: 217.7778 23.0769% 22.9412%;
  --input: 217.7778 23.0769% 22.9412%;
  --ring: 223.7037 52.9412% 30%;
  --chart-1: 223.7037 52.9412% 30%;
  --chart-2: 224.1860 78.1818% 67.6471%;
  --chart-3: 258.3117 89.5349% 66.2745%;
  --chart-4: 45.9429 96.6851% 64.5098%;
  --chart-5: 0 90.6040% 70.7843%;
  --sidebar: 220 27.2727% 15.0980%;
  --sidebar-foreground: 214.2857 31.8182% 91.3725%;
  --sidebar-primary: 223.7037 52.9412% 30%;
  --sidebar-primary-foreground: 0 0% 100%;
  --sidebar-accent: 223.5484 54.3860% 22.3529%;
  --sidebar-accent-foreground: 220.0000 44.6809% 90.7843%;
  --sidebar-border: 217.7778 23.0769% 22.9412%;
  --sidebar-ring: 223.7037 52.9412% 30%;
  --font-sans: ui-sans-serif, system-ui, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 0.125rem;
  --shadow-blur: 0.375rem;
  --shadow-spread: 0px;
  --shadow-opacity: 0.3;
  --shadow-color: #000000;
  --shadow-2xs: 0px 0.125rem 0.375rem 0px hsl(0 0% 0% / 0.15);
  --shadow-xs: 0px 0.125rem 0.375rem 0px hsl(0 0% 0% / 0.15);
  --shadow-sm: 0px 0.125rem 0.375rem 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow: 0px 0.125rem 0.375rem 0px hsl(0 0% 0% / 0.30), 0px 1px 2px -1px hsl(0 0% 0% / 0.30);
  --shadow-md: 0px 0.125rem 0.375rem 0px hsl(0 0% 0% / 0.30), 0px 2px 4px -1px hsl(0 0% 0% / 0.30);
  --shadow-lg: 0px 0.125rem 0.375rem 0px hsl(0 0% 0% / 0.30), 0px 4px 6px -1px hsl(0 0% 0% / 0.30);
  --shadow-xl: 0px 0.125rem 0.375rem 0px hsl(0 0% 0% / 0.30), 0px 8px 10px -1px hsl(0 0% 0% / 0.30);
  --shadow-2xl: 0px 0.125rem 0.375rem 0px hsl(0 0% 0% / 0.75);
}